/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
}

.navegacion__lista {
    display: none;
}

.navegacion__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2px;
    background-color: var(--color-de-fondo-menu);
    margin: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.presentacion__titulo{
    font-size: 50px;
    margin-left: 10px;
}
.presentacion__foto{
    margin-left: 5px;
    width: 500px;
}
.presentacion__subtitulo{
    margin-left: 10px;
}
.redes{
    display: flex;
    gap: 15px;
}


/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    background-color: #EAF2FD;
    padding: 100px;
}
.sobre-mi__titulo{
    font-size: 32px;
    padding-left: 100px;
    text-align: start;
}
.secction-sobre-mi-textos{
    align-items: start;
    margin: 100px;
}
.sobre-mi__texto{
    margin-right: 600px;
}

.sobre-mi__firma{
    padding-left: 100px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo{
    font-size: 32px;
    text-align: center;
    padding: 50px;
}
.habilidades__lista{
    display:flex;
    justify-content: space-around;
    text-align: center;
}
.habilidades__elemento{
    background-color: white;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
    margin: 5px;
}


/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__titulo{
    text-align: center;
    padding: 50px;
    font-size: 32px;
}
.aficiones__lista{
    display:flex;
    justify-content: space-around;
    text-align: center;
}
.aficiones__elemento{
    background-color: white;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 50px;
}
/*------------------------------ Sección de Formacion Academica --------------------------------*/
.formacion{
    background-color: #EAF2FD;
}
.formacion__titulo{
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}
.formacion__lista{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 581px;
    align-items: center;
    
}
.formacion__elemento{
    background-color: white;
    width: 368px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.formacion__icono{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.formacion__icono:hover{
    opacity: 2;
}
.formacion-texto-descripcion{
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: left;
}
.formacion__nombre{
    font-weight: bold;
}


/*------------------------------ Sección de Experiencia Profesional y Proyectos --------------------------------*/

.proyectos__titulo{
    text-align: center;
    padding: 50px;
}
.proyectos__contenedor{
    margin: auto 100px;
    padding-bottom: 50px;
}
.proyectos__descripcion{
    padding: 15px;
    padding-right: 100px;
}
.img-proyectos{
    width: 700px;
    border-radius: 20px;
    margin: auto 100px;
    max-width: 100%;
    height: auto;
}
/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto{
    background-color: #EAF2FD;
    overflow: hidden;
}
.contacto__titulo{
    font-size: 32px;
    margin: 1px;
}
.contacto_texto{
    font-weight: lighter;
    margin: 3px;
}
.section-formulario{
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 100px;;
}
.contacto__formulario{
    display: flex;
    flex-direction: column;
}
.img-contacto{
    border-radius: 2%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
    background-position: center; 
    
}
input, textarea, button{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: black;
}
.contacto__boton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 200px;
}

.contacto__boton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.contacto__boton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contacto__boton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


/* ------------------------------ Footer ---------------------------------------*/
footer{
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
    padding: 15px;
    margin-bottom: 0%;
}
/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
    .sobre-mi__texto{
        width: 100%;
    }
    .formacion__lista{
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        gap: 4rem;
        padding-bottom: 3rem ;
    }
    .formacion-texto-descripcion, .formacion__nombre, .formacion__detalle{
        position:relative;
    }

}

/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}
/* Para pantallas pequeñas, como smartphones (menores a 600px) */
@media (max-width: 600px) {
    .cabecera__titulo {
        font-size: 1.2rem;
    }
    .cabecera {
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
    .presentacion {
        flex-direction: column; /* Cambiar de fila a columna */
        margin: 10px;
        padding: 10px;
    }

    .presentacion__foto {
        width: 100%; /* Adaptar foto al 100% del contenedor */
        max-width: 300px;
    }

    .sobre-mi {
        padding: 20px; /* Reducir padding */
    }

    .sobre-mi__titulo {
        font-size: 24px;
        padding-left: 10px;
    }

    .habilidades__lista,
    .aficiones__lista {
        flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
        justify-content: center;
    }

    .habilidades__elemento,
    .aficiones__elemento,.formacion__lista{
        width: 150px; 
        height: auto;
        margin: 10px 0;
    }

    .formacion__lista {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        gap: 4rem;
        padding-bottom: 6rem ;
    }
    .formacion-texto-descripcion, .formacion__nombre, .formacion__detalle{
        position:relative;
    }

    .proyectos__contenedor {
        margin: 10px;
        padding: 20px;
    }

    .section-formulario {
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    .formacion__lista{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }
    .sobre-mi__texto{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .proyectos{
        margin: 0%
    }
}

/* Para pantallas medianas, como tablets (600px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .cabecera__logo {
        max-width: 80px;
    }
    .cabecera {
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .presentacion {
        flex-direction: column; /* Cambiar de fila a columna */
        margin: 10px;
        padding: 10px;
    }

    .presentacion__foto {
        width: 100%; /* Adaptar foto al 100% del contenedor */
        max-width: 300px;
    }
    .sobre-mi__texto{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .habilidades__lista,
    .aficiones__lista {
        gap: 10px;
        flex-wrap: wrap;
    }

    .habilidades__elemento,
    .aficiones__elemento {
        width: 160px;
        margin: 5px;
    }
    .formacion__lista{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 4rem;
        padding-bottom: 3rem ;
    }
    .formacion-texto-descripcion, .formacion__nombre, .formacion__detalle{
        position:relative;
    }
    .section-formulario {
        display: flex;
        flex-direction: column;
        margin:auto;
    }
}